<ul class="social_block">
  {% if site.social.github %}
  <!-- GitHub page link -->
    <li>
      <a class="github_icon" title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}"></a>
    </li>
  {% endif %}
  {% if site.social.stackoverflow %}
  <!-- Stack Overflow link -->
    <li>
      <a class="stackoverflow_icon" title="{{ site.social.stackoverflow }} on StackOverflow"
      href="https://stackoverflow.com/users/{{ site.social.stackoverflow_id }}/{{ site.social.stackoverflow }}"></a>
    </li>
  {% endif %}
  {% if site.social.linkedin %}
  <!-- LinkedIn link -->
    <li>
      <a title="{{ site.social.linkedin }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}"></a>
    </li>
  {% endif %}
  {% if site.social.instagram %}
  <!-- Instagram link -->
    <li>
      <a title="{{ site.social.instagram }} on Instagram" href="https://instagram.com/{{ site.social.instagram }}"></a>
    </li>
  {% endif %}
  {% if site.social.lastfm %}
  <!-- LastFm link -->
    <li>
      <a title="{{ site.social.lastfm }} on Last.fm" href="https://www.lastfm.com/user/{{ site.social.lastfm }}"></a>
    </li>
  {% endif %}
</ul>